* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  height: 72px;
  background: #3e3c3c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  padding: 0 20px;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.humberger-menu {
  display: none;
}

a:hover {
  color: #f55800;
}

i {
  color: white;
}

.landing {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us {
  display: flex;
  padding: 20px;
  margin-left: 20px;
  justify-content: center;
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  padding-right: 20px;
}

.landing ul {
  list-style-type: none;
  margin-right: 20px;
}

.landing-image {
  max-width: 860px;
  display: flex;
}

.intro h1 {
  color: #f55800;
  text-transform: uppercase;
  font-size: 40px;
  padding: 10px 0;
}

.intro h2,
p {
  padding: 10px 0;
  line-height: 30px;
}

p {
  font-size: 20px;
}

@media all and (max-width: 900px) {
  .landing {
    display: flex;
    flex-wrap: wrap;
  }

  .humberger-menu {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .landing-image {
    width: 100%;
  }

  .about-us {
    display: flex;
    flex-direction: column-reverse;
  }

  .social-icon ul {
    display: flex;
    flex-direction: row !important;
    margin-top: 20px;
  }
}


/* as I was expecting to Develope the project with more features, and also solving some of existing issues and adding more.
it really took much of my time so that I couln't find time to do it accordingly. I hope this do it. */

.recent-works {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  padding-top: 100px;
  color: #1c1a19;
  padding-bottom: 120px;
  margin: 10px;
}

hr {
  width: 330px;
  border-color: black;
}

.recent-works img {
  padding-top: 70px;
  width: 327px;
  height: 237px;
}

.recent-works h4 {
  text-align: left;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.recent-works p {
  text-align: left;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.tech-used {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 0;
}

.recent-works li {
  border: 1px solid black;
  list-style: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  padding: 10px;
  margin: 0 12px 0 0;
}

button {
  background-color: #f55b00;
  color: white;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55b00;
  color: #f55b00;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.recent-works button {
  width: 124px;
  height: 48px;
  float: left;
}

.cards-section {
  padding-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
}

.card-content {
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./image/Img_Placeholder_2.png);
  padding: 0 16px;
}

.card-content > h4 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 32px;
  line-height: 44px;
  color: white;
  padding-top: 45px;
}

.card-content > p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.card-content > ul {
  display: flex;
  width: 230px;
  justify-content: space-between;
  padding: 0;
}

.card-content li {
  color: white;
  background: rgba(255, 255, 255, 0.24);
  border: none;
}

.work-card > button {
  width: 100%;
}

.about-me {
  padding-top: 110px;
  background-color: #1c1a19;
  background-image: url(./image/About-me_background_image.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 370px;
}

.about-text > h2 {
  margin: 0;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.about-text > p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-text > button {
  width: 161px;
  height: 48px;
}

.about-text > hr {
  padding-top: 210px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
}

.skill-set {
  padding-top: 100px;
  color: white;
  text-align: center;
}

.skill-set ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.skill-set li {
  padding: 17px 0;
}

.languages {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("./image/Rectangle_bullet.png");
  list-style-position: inside;
}

.frameworks {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("./image/Rectangle_45degrees_bullet.png");
  list-style-position: inside;
}

.skills {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  list-style-image: url("./image/circle-bullet.png");
  list-style-position: inside;
}

.skill-item {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
}
