* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

header {
    height: 72px;
    background: #3E3C3C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

header .logo {
    height: 65px;
}

ul li a {
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

a:hover {
    color: #F55800;
}

i {
    color: white;
}

.landing {
    height: calc(100vh-72px);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.about-us {
    display: flex;
    width: 50%;
    padding: 20px;
    margin-left: 20px;
}

.social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding-right: 20px;
}

.social-icon ul {
    list-style-type: none;
    margin-right: 20px;
}

.landing-image {
    max-width: 860px;
}

.intro h1 {
    color: #F55800;
    text-transform: uppercase;
    font-size: 40px;
    padding: 10px 0;
}

.intro h2,
p {
    padding: 20px 0;
    line-height: 30px;
}

p {
    font-size: 20px;
}