@import "../../App.scss";
.portfolio-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/bgImage/projectsbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  padding: 100px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    .view_more_btn {
      background-color: $whiteOpacity;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px 8px;
      font-size: 1.2rem;
      border-radius: 50px;
      color: $gray;
      font-weight: 700;
    }
  }
  .portfolio-content {
    width: calc(100vw - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    .portfolio-card {
      background-color: $grayOpacity;
      width: 320px;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .card-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;

        height: 150px;
      }
      h3 {
        font-size: 1rem;
        padding: 3px 0;
        color: $blue;
      }
      h3,
      p {
        align-self: flex-start;
        font-weight: 100;
      }
      .pr-card-btn {
        background-color: #9c9d9d;
        height: 40px;
        width: 320px;
        margin-bottom: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $gray;
          width: 100%;
          height: 100%;
        }
      }
      .pr-card-btn:hover {
        background-color: $blue;
        a {
          color: $white;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  background-color: $gray;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-container {
    width: 70%;
    background-image: url("../../assets/bgImage/modalbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px;
    button {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: 20px;
      align-self: flex-end;
      padding-bottom: 10px;
      cursor: pointer;
      img {
        width: 20px;
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      p {
        font-weight: 400;
      }
    }
    .details {
      display: flex;
      gap: 10px;
      img {
        width: 70%;
      }
      .desc {
        width: 28%;
        p {
          padding-bottom: 5px;
        }
        .bold {
          font-weight: 400;
        }
        .techs {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
        .links {
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          .link {
            width: 100px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $whiteOpacity;
            color: $gray;
          }
        }
      }
    }
  }
}
