@import "../../App.scss";
.resume-container {
  width: 100%;
  min-height: 70vh;
  display: grid;
  padding: 60px 120px;
  justify-content: center;
  grid-template-columns: 1fr 5fr;
  background-color: $blue;
  .resume-sections {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
    .active {
      color: red;
    }
  }
}
.resume-header {
  padding-bottom: 20px;
  color: $green;
  font-size: 2.5rem;
}
.resume-card {
  background: #b4d2e7a9;
  margin: 10px;
  min-height: 150px;
  border-radius: 20px;
  padding: 15px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 4px 4px #5353532f;
}
.skills-content {
  display: flex;
  gap: 30px;
  justify-content: center;
  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    width: 50%;
    background-color: #5353532f;
    border-radius: 20px;
    padding: 15px;
    .skills {
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      justify-content: center;
      .techs {
        padding: 0 40px;
      }
    }
  }
}
