@import "../../App.scss";

.about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/bgImage/aboutbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .about-content {
    align-self: flex-start;
    width: 60%;
    h1,
    p {
      padding: 10px 0;
      line-height: 30px;
    }
  }
}

#container_2 {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  border: 4px solid $blue;
}
#image {
  object-fit: cover;
  display: block;
  width: 400px;
  height: auto;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
