@import "../../App.scss";

.about-container {
  width: 100%;
  display: grid;
  padding: 0 100px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  img {
    width: 100%;
  }
  .about-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    td {
      padding: 5px 0;
    }
  }
}
