@import "../../App";

nav {
  display: block;
  background: #4dce7265;
  width: max-content;
  height: 40px;
  padding: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  z-index: 2;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
}
