$green: #4dce71;
$coffee: #37323e;
$blush: #ececec93;
$blue: #b4d2e7ce;
$fontBody: "Roboto", sans-serif;
$fontLogo: "Dancing Script", cursive;
$fontHead: "Rubik Maze", cursive;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: $coffee;
}
html {
  scroll-behavior: smooth;
  font-family: $fontBody;
  background-color: $blush;
}
.active-scroll-spy {
  background-color: white;
  border: 2px solid $green;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  text-align: center;
  padding-top: 1%;
  word-wrap: break-word;
}
.color-grey {
  color: grey;
}
.color-green {
  color: $green;
}
