$white: #fff;
$whiteOpacity: #ffffffa8;
$blue: #06aee0;
$gray: #2f2e2e;
$black: #000;
$font: "Inter", sans-serif;

$green: #4dce71;
$coffee: #37323e;
$blush: #ececec93;

$sblue: rgba(180, 210, 231, 0.349) b;
$fontBody: "Roboto", sans-serif;
$fontLogo: "Dancing Script", cursive;
$fontHead: "Rubik Maze", cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: $white;
}
html {
  scroll-behavior: smooth;
  font-family: $font;
}
.shadow_effect {
  box-shadow: $whiteOpacity 0 0 8px 3px;
}
.shadow_effect:hover {
  box-shadow: $blue 0 0 8px 3px;
}
.heading {
  color: $blue;
  font-weight: 700;
  font-size: 2rem;
}
